.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.navbar>h1>span {
    color: yellow;
}

.navbar ul {
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    transition: all .2s linear;
}

.navbar a:hover {
    color: white;
}